body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffe6cc;
}

.cats {
  background-color: #3385ff;
  padding: 7px;
  margin-left:15px ;
  margin-right:15px;
  border-radius: 10px;
  border-color: #ffe6cc;
}

.dogs {
  background-color: #79d279;
  margin-left:15px ;
  margin-right:15px;
  border-radius: 10px;
  border-color: #ffe6cc;
}

.dinos {
  background-color: #ffb366;
  margin-left:15px ;
  margin-right:15px;
  border-radius: 10px;
  border-color: #ffe6cc;
}

.all {
  color: white;
  background-color: black;
  margin-left:15px ;
  border-radius: 10px;
  margin-right:15px;
  border-color: #ffe6cc;
}

#content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.card {
  border-radius: 0px;
}

.petName {
  border-radius: 0px;
  background-color: lightGrey;
}
